# IDE specific files
.idea/
*.iml
*.iws
.classpath
.project
.settings/
.DS_Store # For macOS users at the root

# User added, for project specific data
data/

# Java / Maven / Spring Boot specific
target/
build/ # General build output, can be used by Spring Boot/Gradle
*.log
*.jar
*.war

# Maven specific
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
# buildSpec.yaml # Or other CI/CD specific files like buildspec.yml

# Environment variables at root (if any)
.env

# Temporary files
*.tmp
*.swp


# IntelliJ IDEA specific (if not covered by .idea/)
*.ipr
modules.xml
